// Kindly press Ctrl+A and then press Ctrl+/ to use the code


// Primary Secondary and other colors

$primaryColor        : #00a6f0;
$secondaryColor      : #192235;
$secondaryLiteColor  : #1a243a;
$secondaryLiteColor2 : #232f47;
$secondaryLiteColor3 : #283049;
$LightColor          : #ededed;
$textColor           : #d6e2f5;
$primaryDarkColor    : #0b89c6;
$dangerColor         :#b1464c;

// Gradiant color

// $gradiant: linear-gradient(158.81deg, #009ffd 0%, #2a2a72 100%);

// web background color

$backgroundColor: #f7f7f7;