// Kindly press Ctrl+A and then press Ctrl+/ to use the code


// Primary Secondary and other colors

$primaryColor      : #00a6f0;
$secondaryColor    : #283049;
$secondaryLiteColor: #2f3f61;
$LightColor        : #ededed;
$textColor         : #d6e2f5;
$primaryDarkColor  : #0b89c6;
$dangerColor       :#b1464c;

// Gradiant color

// $gradiant: linear-gradient(158.81deg, #009ffd 0%, #2a2a72 100%);

// web background color

$backgroundColor: #f7f7f7;