.left-side-bar-container {
    height          : 100%;
    width           : 69px;
    z-index         : 999;
    background-color: $secondaryLiteColor;


    .icons-left-bar {
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;


        .icon-view {
            font-size: 17px;
            cursor   : pointer;
            color    : lightgray;

            &:hover {
                color     : #3099F5;
                background: #2f3f61;
            }
        }

        .icon-upper-half {
            padding-top   : 15px;
            padding-bottom: 15px;
        }

        .route-names {
            font-size: 10px;
            color    : white;
        }

    }

}

.mobile-left-side-bar-container {
    height          : calc(100% + 57px);
    width           : 0px;
    background-color: $secondaryLiteColor;
    position        : absolute;
    top             : 0;
    overflow        : hidden;
    transition      : width 0.5s;

    .mobile-side-bar-content-container {
        z-index   : 999;
        background: #1a243a;
        width     : 100%;

        .mobile-side-bar-content-profile-section {
            height                       : 220px;
            width                        : 100%;
            background-color             : $primaryColor;
            // border-bottom-left-radius : 50px;
            border-bottom-right-radius   : 60px;
            display                      : flex;
            flex-direction               : column;
            align-items                  : center;
            justify-content              : space-evenly;
        }

        .icons-left-bar {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            padding        : 20px;


            .icon-view {
                font-size: 17px;
                cursor   : pointer;
                color    : lightgray;

                &:hover {
                    color     : #3099F5;
                    background: #2f3f61;
                }
            }

            .icon-upper-half {
                padding    : 8px 15px;
                display    : flex;
                align-items: center;
            }

            .route-names {
                // font-size: 10px;
                color: white;
            }

        }
    }

}

.mobile-left-side-bar-extended {
    width: 300px;
}


.modal-dialog {
    .modal-content {
        background-color: #1a243a;
        border          : 0px solid #1a243a;

        .modal-header {
            border-bottom: 0px;

            h5 {
                color: white !important;
            }
        }

        .modal-footer {
            border-top: 0px;

            div {
                background: red !important;
            }
        }
    }
}