.right-side-bar-container {
    height          : 100%;
    width           : 69px;
    background-color: $secondaryLiteColor;

    .icons-right-bar {
        display        : flex;
        flex-direction : column;
        justify-content: center;


        .icon-view {
            font-size: 17px;
            cursor   : pointer;
            color    : lightgray;
            fill     : lightgray;

            &:hover {
                fill      : #3099F5;
                color     : #3099F5;
                background: #2f3f61;
            }
        }

        .icon-upper-half {
            padding-top   : 15px;
            padding-bottom: 15px;
        }

        .route-names {
            font-size: 10px;
            color    : white;
        }

    }

    .right-side-bar-slider {
        top             : 0;
        width           : 0px;
        position        : absolute;
        right           : 64.5px;
        height          : 100%;
        transition      : width 0.5s;
        box-shadow      : -10px 0px 10px 0px $secondaryColor;
        background-color: $secondaryLiteColor;
        overflow        : hidden;

        .silder-inner-container {
            padding: 20px 10px;

            .sider-innerbox-container {
                padding         : 10px 10px;
                background-color: $secondaryLiteColor;
            }
        }
    }

    .slider-width-transition {
        width: 300px;
    }
}

//===========================================

.bottom-bar-container {
    position        : relative;
    width           : 100%;
    height          : 70px;
    background-color: $secondaryLiteColor;

    .bottom-bar {
        position: absolute;
        bottom  : 0;
        right   : 0;


        .icons-bottom-bar {
            display        : flex;
            flex-direction : row;
            justify-content: center;


            .icon-view {
                font-size: 17px;
                cursor   : pointer;
                color    : lightgray;
                fill     : lightgray;

                &:hover {
                    fill      : #3099F5;
                    color     : #3099F5;
                    background: #2f3f61;
                }
            }

            .icon-upper-half {
                padding-top   : 15px;
                padding-bottom: 15px;
            }

            .route-names {
                font-size: 10px;
                color    : white;
            }

        }
    }


    .bottom-side-bar-slider {
        right           : 0;
        width           : 100%;
        position        : absolute;
        bottom          : 70px;
        height          : 0px;
        transition      : height 0.5s;
        box-shadow      : -10px 0px 10px 0px $secondaryColor;
        background-color: $secondaryLiteColor;
        overflow        : hidden;

        .silder-inner-container {
            padding: 20px 10px;

            .sider-innerbox-container {
                padding         : 10px 10px;
                background-color: $secondaryLiteColor;
            }
        }
    }

    .slider-height-transition {
        height    : calc(100vh - 127px);
        overflow-y: auto;
    }
}


@media only screen and (max-width: 767px) {
    //.tablet-bar-hide {
    //    right: 57px !important;
    //}

    .right-side-bar-container {
        display: none;
    }


    .bottom-bar-container {
        display: block;
    }

    .tablet-view-bottom-bar {
        width   : 100%;
        position: fixed;
        bottom  : 0;

        .bottom-bar {
            width: 100%;

            .icons-bottom-bar {

                .icon-upper-half {
                    width: 25%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .bottom-bar-container {
        display: none;
    }
}